
.icon-guidedog:before { content: '\e801'; } /* '' */
.icon-mail  ken:before { content: '\e802'; } /* '' */
.icon-home ken:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-whatsapp kent:before { content: '\f232'; } /* '' */